.user {
  position: relative;
  padding: 15px 30px;
  display: flex;
  align-items: center;
}
.user-img {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info__top {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-title {
  color: #424f5e;
  font-size: 18px;
  font-weight: 600;
}

.user-gmail {
  color: #9494a0;
}

.user-info__bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-permission {
  color: #9494a0;
  font-size: 16px;
  border: 1px solid #9494a0;
  padding: 5px 10px;
  border-radius: 12px;
}

.user-button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 35px;
  color: #9494a0;
  position: absolute;
  top: 5px;
  right: 25px;
}

.menu {
  position: relative;
  width: 110px;
  padding: 5px;
  height: 55px;
  background: white;
  border: 1px solid #9494a0;
  left: 53%;
  top: 34px;
  border-radius: 12px;
}

.menu > p {
  cursor: pointer;
  font-size: 14px;
}

.menu > p:hover {
  background: rgb(228, 228, 228);
}

.update-form {
  display: flex;
  gap: 5px;
}
